.myCustomFrame_CSK_Module_MultiTCPIPServer {
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  margin: 6px;
}
.marginTop {
  margin-top: 1.5rem
}
.myCustomCssClass_CSK_Module_MultiTCPIPServer {
}