.myCustomFrame_CSK_Module_MultiTCPIPServer {
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  margin: 6px;
}

.myCustomMarginTop_CSK_Module_MultiTCPIPServer {
  margin-top: 1.5rem
}

.myCustomMinHeight200px_CSK_Module_MultiTCPIPServer {
  min-height: 200px;
}